{{ "<!-- banner -->" | safeHTML }}
<div class="container section">
	<div class="row">
		<div class="col-lg-8 text-center mx-auto">
			<h1 class="text-white mb-3">{{ .Site.Params.banner.title | markdownify }}</h1>
			<p class="text-white mb-4">{{ .Site.Params.banner.subtitle | markdownify }}</p>
			<div class="position-relative form-wrapper">
			    <input id="search"  type="text" name="search" class="form-control" placeholder="{{ .Site.Params.banner.placeholder }}">
			    <input type="submit" value="go" id="submit" onclick="searchData()" style="display: none;">
                <i class="ti-search search-icon" type="submit" value="go" id="submit" onclick="searchData()"></i>
			</div>
            <ul class="list-group myList" id="div" style="background-color: white;" ></ul> 
            
            <div id="div"></div>
            <form action="/search" target="_blank" method="get" id="form">
                <input type="text" name="index" id="number"  style="display: none;">
            </form>
		</div>
	</div>
</div>
{{ "<!-- /banner -->" | safeHTML }}


<script>
console.log("hello")
let Data = '';
let srch = document.getElementById('search');
let div = document.getElementById("div")

fetch('/data/jsonData.json')
    .then(response => response.json())
    .then(jsonResponse => {
        Data = jsonResponse
        //   console.log(Data);
        srch.addEventListener("input", searchData)

    })

function searchData() {
    let text = srch.value;
    let noOfResults = 0
    div.innerHTML = "";
    if (text != '') {
        for (let index = 0; index < Data.length; index++) {
            let val = Data[index];
            let value = val.category + ' | ' + val.name + ' | ' + val.title;
            if (value.toLowerCase().includes(text.toLowerCase()) && noOfResults < 8) {
                div.innerHTML += `<div style="cursor: pointer;" class="result" id='${index}' onclick='send(this.id)'>${value}</div><hr>`;
                noOfResults++;
            } else if (noOfResults == 8) {
                break;
            }
        }
    }

}
function send(index) {
    div.innerHTML = '';
    srch.value='';
    let input = document.getElementById('number');
    let form = document.getElementById('form');
    input.value = index;
    form.submit();
}


</script>




